.HeroContainer {
  background-image: url("../images/banner.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.HeroContent {
  height: calc(100vh - 80px);
  max-height: 100%;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.HeroItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 300px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;

  @media screen and (max-width: 650px) {
    width: 50%;
  }
}

.HeroH1 {
  font-size: clamp(1.5rem, 9vw, 4rem);
  margin-bottom: 1rem;
  box-shadow: 3px 5px #e9ba23;
  letter-spacing: 3px;
  text-align: left;

  @media screen and (max-width: 650px) {
    width: 50%;
  }
}

.HeroP {
  font-size: clamp(2rem, 2.5vw, 3rem);
  margin-bottom: 2rem;

  @media screen and (max-width: 650px) {
    width: 50%;
  }
}

.HeroBtn {
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border: none;
  background: #404040;
  color: #fac100;
  transition: 0.2s ease-out;
}

.hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}
