.footer {
  width: 100%;
  height: 140px;
  margin-top: 80px;
  background-color: #fac100;
  position: relative;
}

.social {
  width: 80%;
  padding-top: 8px;

  display: flex;
  justify-content: center;
}

.copyright {
  position: absolute;
  bottom: 8px;

  width: 100%;
  text-align: center;
  color: white;
}
