@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Bree", sans-serif;
  margin: 0;
  background-color: #404040;

  @media screen and (max-width: 650px) {
    width: 30%;
  }
}

.centered {
  margin: 3rem auto;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
